<div id="wrapper">
	<div class="overlay"></div>
	<!-- Sidebar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
		<ul class="nav sidebar-nav">
			<li class="sidebar-brand">
				<a href="#">
					{{ user.local.username }}
				</a>
			</li>
			<li>
				<a ui-sref="user">Manage</a>
			</li>
			<li>
				<a href="#">Reports</a>
			</li>
			<!-- <li>
				<a href="#">Events</a>
			</li>
			<li>
				<a href="#">Team</a>
			</li> -->
			<!-- <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-header">Dropdown heading</li>
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				</ul>
			</li> -->
			<!-- <li>
				<a href="#">Services</a>
			</li> -->
			<li>
				<a ui-sref="user.userAdmin">User</a>
			</li>
			<li>
				<a href="#" ng-click="logout()">Log out</a>
			</li>
		</ul>
	</nav>
	<!-- /#sidebar-wrapper -->
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row" style="background: rgba(138, 134, 134, 0.34);">
				<div class="col-md-12 navbar">
					<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
					<span class="hamb-top"></span>
					<span class="hamb-middle"></span>
					<span class="hamb-bottom"></span>
					</button>
					<!-- <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" /> -->
					<h2 style="display: inline-block; margin-left: 100px">
					Defect Management System
					</h2>
				</div>
			</div>
	<div class="row">
		<!-- <div class="col-md-12"> -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button> <a class="navbar-brand" href="#"></a>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#" ui-sref="user.top">Top</a>
					</li>
					<li>
						<a href="#" ui-sref="user.company">Company</a>
					</li>
					<li>
						<a href="#" ui-sref="user.building">Building</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Category<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#" ui-sref="user.category">Category</a>
							</li>
							<li>
								<a href="#" ui-sref="user.subCategory">Sub-Category</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Department<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#" ui-sref="user.department">Department</a>
							</li>
							<li>
								<a href="#" ui-sref="user.subDepartment">Sub-Department</a>
							</li>
						</ul>
					</li>
					<li class="active">
						<a href="#"  ui-sref="user.floor">Floor</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Zone<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#"  ui-sref="user.zone">Zone</a>
							</li>
							<li>
								<a href="#"  ui-sref="user.subZone">Sub-Zone</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"  ui-sref="user.technician">Technician</a>
					</li>
				</ul>
			</div>
			
		</nav>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group">
				
				<button type="button" class="btn btn-default btn-primary" id="newBtn" ng-click="onBtnAddNew()">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
				</button>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 10px">
		<div class="col-md-12" id="table">
			<div ui-grid="gridOptions" ui-grid-pagination class="table"></div>
		</div>
	</div>
</div>
	</div>
	<!-- /#wrapper -->
	<script>
	$(document).ready(function () {
	var trigger = $('.hamburger'),
	overlay = $('.overlay'),
	isClosed = false;
	trigger.click(function () {
	hamburger_cross();
	});
	function hamburger_cross() {
	if (isClosed == true) {
	overlay.hide();
	trigger.removeClass('is-open');
	trigger.addClass('is-closed');
	isClosed = false;
	} else {
	overlay.show();
	trigger.removeClass('is-closed');
	trigger.addClass('is-open');
	isClosed = true;
	}
	}
	
	$('[data-toggle="offcanvas"]').click(function () {
	$('#wrapper').toggleClass('toggled');
	});
	});
	</script>
<!-- modal for create/edit -->
<script type="text/ng-template" id="ModalCreateEdit.html">
<div class="modal-header">
				<h3 class="modal-title">{{HeaderModal}}</h3>
</div>
<div class="modal-body">
				<form name="formTop" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(formTop)"></form>
</div>
</script>
<!-- Cell Template -->
<script type="text/ng-template" id="edit-button-cell.html">
<div class="ui-grid-cell-contents">
<button type="button" class="btn btn-primary btn-xs" ng-click="grid.appScope.editRow(grid, row)">
Edit
</button>
</div>
</script>
<!-- Cell Template -->
<script type="text/ng-template" id="edit-button-cell.html">
<div class="ui-grid-cell-contents">
<button type="button" class="btn btn-primary btn-xs" ng-click="grid.appScope.editRow(grid, row)">
Edit
</button>
</div>
</script>
<script type="text/ng-template" id="delete-button-cell.html">
<div class="ui-grid-cell-contents">
<button type="button" class="btn btn-danger btn-xs" ng-click="grid.appScope.deleteRow(grid, row)">
Delete
</button>
</div>
</script>
<!-- modal for delete -->
<script type="text/ng-template" id="ModalDel.html">
<div class="modal-header">
			<h3 class="modal-title">{{HeaderModal}}</h3>
</div>
<div class="modal-body">
				<h3>Do you want to delete? </h3>
</div>
<div class="modal-footer">
<button class="btn btn-danger" type="button" ng-click="btnDeleteClick()">Delete</button>
<button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
</div>
</script>