<br>
<br>
<div class="well center-block" style="width: 500px">
  <h2>Please Sign In</h2>
  <form name="loginForm" novalidate ng-submit="signin();">
    <label>Username: </label>
    <input name="Username" 
           class="form-control" 
           type="text" 
           ng-model="signinData.username"
           placeholder="Username" 
           required> 

    <label>Password: </label>
    <input name="password" 
           class="form-control" 
           type="password" 
           ng-model="signinData.password"
           placeholder="Password" 
           required> 
    <br>
    <div ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
      <p ng-show="loginForm.password.$error.required"
         style="padding:5px" class="bg-danger">Your password is required</p>
    </div>
    <div ng-show="loginForm.serverError">
      <p style="padding:5px" class="bg-danger"> {{ loginForm.serverError.message }}</p>
    </div>
    <input class="form-control btn btn-primary" 
           type="submit" 
           value="Sign In"
           ng-disabled="loginForm.$invalid"> 
  </form>
</div>